<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eBankingV1">

<!-- The below line is for listening to extent reports -->

<listeners>
	<listener class-name = "com.eBanking.utilities.Reporting"/>
	
</listeners>
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
	 <!--		<class name="com.eBanking.testCases.LoginTest_TC_001" /> -->
	    <!--      <class name="com.eBanking.testCases.LoginTest_TC_02_DDT" /> --> 
			<class name="com.eBanking.testCases.AddCustomer_TC003" />
		<!--	<class name="com.eBanking.testCases.EditCustomer_TC004"/> -->		
		</classes>

	</test>

</suite>
